* {
	box-sizing: border-box;
}
html,
body{
	height: 100%;
    margin: 0;
    padding: 0;
	font: 16px/25px 'Roboto', Arial, 'Helvetica Neue', Helvetica, sans-serif;
    overflow: hidden;
    -webkit-tap-highlight-color: transparent;
}
body{
	background: #f2f2f2;
}
.wrapper{
	display: flex;
    height: 100%;
    flex-flow: column;
}
.header {
    position: relative;
    z-index: 1;
    display: flex;
    height: 55px;
    color: #fff;
    background: #3b5998;
    padding: 0 15px;
    align-items: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.35);
}
.header h1{
	font-size: 20px;
    font-weight: 400;
    margin: 0;
}
.header .headerButton {
    width: 24px;
    height: 24px;
    margin-right: 16px;
    text-indent: -30000px;
    overflow: hidden;
    opacity: 0.54;
    -webkit-transition: opacity 0.333s cubic-bezier(0, 0, 0.21, 1);
    transition: opacity 0.333s cubic-bezier(0, 0, 0.21, 1);
    border: none;
    outline: none;
    cursor: pointer; }
  .header #butRefresh {
    background: url(../images/ic_refresh_white_24px.svg) center center no-repeat; 
}

.chat-section {
	padding: 0 15px;
    flex: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}
.chat-row{
	display: flex;
	margin: 15px 0;
}
.message-box{
    padding: 8px 13px;
    align-items: center;
    display: flex;
    background: #fff;
    color: #3b5998;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.08);
}
.avatar{
    vertical-align: top;
    margin: 0 9px 0 -7px;
    width: 40px;
    height: 40px;
    display: block;
    min-width: 40px;
}
.chat-row.me{
	justify-content: flex-end;
}
.chat-row.me .message-box{
	background: #3b5998;
	color: #fff;
}
.input-bar{
	border-top: 1px solid #e8e8e8;
}
.input-holder{
	display: flex;
	background: #fff;
}
.message-input{
	flex: 1;
	background: none;
	padding: 12px;
	border: none;
	color: #3b5998;
	outline: none;
	font: 16px/1 'Roboto', Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.message-input:focus,
.send-button:focus{
	outline: none;
}
.send-button{
    background: none;
    border: none;
    margin: 0;
    padding: 4px 0 0;
    width: 46px;
    cursor: pointer;
    height: 46px;
    outline: none;
}
.send-button>img{
	width: 30px;
	height: 30px;
	min-width: 30px;
}
.loader {
  left: 50%;
  top: 50%;
  position: fixed;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
  .loader #spinner {
    box-sizing: border-box;
    stroke: #673AB7;
    stroke-width: 3px;
    -webkit-transform-origin: 50%;
            transform-origin: 50%;
    -webkit-animation: line 1.6s cubic-bezier(0.4, 0, 0.2, 1) infinite, rotate 1.6s linear infinite;
            animation: line 1.6s cubic-bezier(0.4, 0, 0.2, 1) infinite, rotate 1.6s linear infinite; }

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  to {
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg); } }

@keyframes rotate {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  to {
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg); } }

@-webkit-keyframes line {
  0% {
    stroke-dasharray: 2, 85.964;
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  50% {
    stroke-dasharray: 65.973, 21.9911;
    stroke-dashoffset: 0; }
  100% {
    stroke-dasharray: 2, 85.964;
    stroke-dashoffset: -65.973;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg); } }

@keyframes line {
  0% {
    stroke-dasharray: 2, 85.964;
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  50% {
    stroke-dasharray: 65.973, 21.9911;
    stroke-dashoffset: 0; }
  100% {
    stroke-dasharray: 2, 85.964;
    stroke-dashoffset: -65.973;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg); } }